:root {
    --font-primary: Arial, sans-serif;
    --text-co: #FFF;
    --text-co-secondary: #111;
    --text-link-co: orangered;
    --text-link-hover-co: orange;

    --back-primary: rgb(80, 0, 111);
    --back-secondary: #fff;

    --header-bg: #ebebeb;
    --header-co: #000;
    --header-nav-bg: #fff;
    --header-button-co: #000;
    --header-button-bg: transparent;
    --header-button-hover-co: #fff;
    --header-button-hover-bg: purple;
    
    --footer-bg: #ebebeb;
    --footer-co: #000;

    --option-co: #000;
    --option-title-co: #000;
    --option-bg: #fff;
    --option-title-bg: #ebebeb;

    --success-co: #fff;
    --success-bg: green;
    --error-co: #fff;
    --error-bg: red;
    --warning-co: #000;
    --warning-bg: yellow;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-primary);
    background: linear-gradient(137deg, #352879 0%, #32cd32 100%);
    /*background-color: var(--back-primary);*/
    color: var(--text-co);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 90vw;
  display: flex;
  justify-content: space-between; /* Distribute lines evenly */
  z-index: -1;
}

.line {
  position: relative;
  width: 1px;
  height: 100%;
  /*background: #ffffff;  /* Line color */
  overflow: hidden;
}

.line::after {
  content: '';
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
  animation: drop 7s 0s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

/* Different colors for each line's pseudo-element */
.line:nth-child(1)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #FF4500 75%, #FF4500 100%);
  animation-delay: 0.5s;
}

.line:nth-child(2)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #32CD32 75%, #32CD32 100%);
  animation-delay: 1s;
}

.line:nth-child(3)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #1E90FF 75%, #1E90FF 100%);
  animation-delay: 1.5s;
}

.line:nth-child(4)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #FFD700 75%, #FFD700 100%);
  animation-delay: 2s;
}

.line:nth-child(5)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #8A2BE2 75%, #8A2BE2 100%);
  animation-delay: 2.5s;
}

.line:nth-child(6)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #20B2AA 75%, #20B2AA 100%);
  animation-delay: 3s;
}

.line:nth-child(7)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #DC143C 75%, #DC143C 100%);
  animation-delay: 3.5s;
}

.line:nth-child(8)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #00FA9A 75%, #00FA9A 100%);
  animation-delay: 4s;
}

.line:nth-child(9)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #FF1493 75%, #FF1493 100%);
  animation-delay: 4.5s;
}

.line:nth-child(10)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #00BFFF 75%, #00BFFF 100%);
  animation-delay: 5s;
}

@keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}


a {
    text-decoration: none;
    color: var(--text-link-co);
    transition: .1s ease;
}

a:hover {
    color: var(--text-link-hover-co);
}

hr {
    border: 0;
    background-color: rgb(0,0,0,.1);
    height: 1px;
    margin: 8px 0;
}


.app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 720px;
    min-height: 70vh;
    border-radius: 8px;
    background-color: var(--back-secondary);
    overflow: hidden;
    flex: 1;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 0px 1px rgb(0,0,0,.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    color: var(--header-co);
    background-color: var(--header-bg);
    padding: 8px;
    border-bottom: 1px solid rgb(0,0,0,.1);
}

.header .title {
    color: darkorchid;
}

.header nav {
    display: flex;
    gap: 0;
    border-radius: 8px;
    overflow: hidden;
    background-color: var(--header-nav-bg);
    box-shadow: 0 0 0px 1px rgb(0,0,0,.1);
}

.header a {
    padding: 6px 8px;
    color: var(--header-button-co);
    background-color: var(--header-button-bg);
}

.header a:hover {
    color: var(--header-button-hover-co);
    background-color: var(--header-button-hover-bg);
}

@keyframes gradientSlide {
    0%   { background-position: 0% 50%; }
    100% { background-position: 200% 50%; }
}

.gradient-text {
    background: linear-gradient(
    90deg,
    #7F77DD,
    #AFA9EC,
    #3C3489,
    #000000,
    #534AB7,
    #3b3a46,
    #26215C,
    #7F77DD
    );
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: gradientSlide 2s linear infinite;
    font-weight: bold;
}

.header label {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 6px;
    color: var(--header-button-co);
    background-color: var(--header-button-bg);
    border: none;
    cursor: pointer;
}

.header select {
    border: none;
    cursor: pointer;
    color: var(--header-button-co);
    background-color: transparent;
    padding: 6px 8px 6px 2px !important;
}

.header label:hover,
.header label:hover select {
    color: var(--header-button-hover-co);
    background-color: var(--header-button-hover-bg);
}

.footer {
    text-align: center;
    font-size: small;
    color: var(--footer-co);
    background-color: var(--footer-bg);
    padding: 8px;
    border-top: 1px solid rgb(0,0,0,.1);
}

.main {
    flex: 1;
    color: var(--text-co-secondary);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
    padding: 8px 12px;
}

input, button, select {
    padding: 6px 8px;
}

input.mini {
    max-width: 100px;
}

option {
    color: var(--option-co);
    background-color: var(--option-bg);
}

option.option_title {
    color: var(--option-title-co);
    background-color: var(--option-title-bg);
}

table {
    width: 100%;
    border: 1px solid rgb(0,0,0,.1);
}

thead {
    font-weight: bold;
    background-color: rgb(0,0,0,.1);
}

td {
    padding: 4px;
}

.content {
    padding: 8px 12px;
}

.scroll-auto {
    overflow-x: auto;
}

.message {
    display: block;
    padding: 8px 12px;
    text-align: center;
    cursor: pointer;
}

.message.success {
    color: var(--success-co);
    background-color: var(--success-bg);
}

.message.error {
    color: var(--error-co);
    background-color: var(--error-bg);
}

.message.warning {
    color: var(--warning-co);
    background-color: var(--warning-bg);
}

.hidden_message:checked ~ .message {
    display: none;
}

.button,
.button-transparent {
    display: inline-block;
    padding: 8px 6px;
    border-radius: 4px;
}

.button {
    color: white;
    background-color: purple;
}

.button:hover,
.button--active {
    color: white;
    background-color: rgb(165, 0, 165);
}

.button-transparent {
    color: initial;
    background-color: transparent;
}

.button-transparent:hover,
.button-transparent--active {
    color: white;
    background-color: rgb(165, 0, 165);
}

.button-switch-content {
    display: flex;
    flex-direction: row;
    gap: 0;
    background-color: #ebebeb;
    overflow: hidden;
    border: 1px solid rgb(0,0,0,.1);
    border-radius: 4px;
}

.button-switch-content a {
    padding: 8px 6px;
    color: initial;
    background-color: transparent;
    text-decoration: none;
}

.button-switch-content a.active {
    color: white;
    background-color: purple;
}


.button-switch-content a.active:hover,
.button-switch-content a:hover {
    color: white;
    background-color: rgb(165, 0, 165);
}

.flex { display: flex; }

.flex-evenly { justify-content: space-evenly; }
.flex-between { justify-content: space-between; }
.flex-around { justify-content: space-around; }
.flex-wrap { flex-wrap: wrap; }
.gap-4 { gap: 4px; }

.p-8 { padding: 8px; }

@media (max-width: 920px) {
    .app {
        margin-top: 0;
        margin-bottom: 0;
        max-width: 100%;
        min-height: 100vh;
        border-radius: 0px;
        box-shadow: 0px;
    }
}

@media (max-width: 600px) {
    .header {
        gap: 8px;
        flex-direction: column;
    }
}